* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a:hover,
button:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
